/* ---------------- */
/* btn / components */
/* ---------------- */

.btn {
  border: 1px var(--clr-bg) solid;
  background-color: transparent;
  color: var(--clr-bg);
  padding: 6px 16px;
  border-radius: 6px;
  text-align: center;
  display: inline-block;
  width: fit-content;
}

.btn:hover {
  background-color: var(--clr-link);
  cursor: pointer;
  text-decoration: underline;
}

.btn:active {
  text-decoration: none;
  opacity: 80%;
}

.btn--clr {
  background-color: var(--clr-link);
  color: var(--clr-bg);
  display: block;
  margin-top: 30px;
}