
.flex-2.contact-box {
  background-color: var(--clr-contain);
}

.flex-1.contact-box {
  background-color: var(--clr-containSec);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: inherit; */
  /* margin-top: var(--marg-resp-s-neg);
  margin-left: var(--rythm-s-neg); */
  overflow: hidden;
  gap: var(--rythm-s);
}


.flex__item {
  flex-grow: 1;
}

.flex__item--6 {
  flex-basis: calc((100% / 1) - var(--rythm-s));
}

@media only screen and (min-width:550px) {
  .flex__item--6 {
    flex-basis: calc((100% / 2) - var(--rythm-s));
  }
}

@media only screen and (min-width:768px) {
  .flex__item--6 {
    flex-basis: calc((100% / 3) - var(--rythm-s));
  }
}

@media only screen and (min-width:1024px) {
  .flex__item--6 {
    flex-basis: calc((100% / 4) - var(--rythm-s));
  }
}

@media only screen and (min-width:1200px) {
  .flex__item--6 {
    flex-basis: calc((100% / 6) - var(--rythm-s));
  }
}

/* .flex img {
  display: block;
  min-width: 190px;
} */
.column {
  flex-direction: column;
}
.flex-2 {
  flex-basis: calc((100% * 2 / 3) - var(--rythm-s));
}
.flex-1 {
  flex-basis: calc((100% / 3) - var(--rythm-s));
}
/* .flex-6rows > * {
  flex-basis: calc((100% / 6) - var(--rythm-s));
} */