/* ---------------- */
/* flex / components */
/* ---------------- */

.flex-gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  gap: var(--space-xsmall);
}

@media only screen and (min-width:550px) {
  .flex-gallery {
    flex-direction: row;
  }
}


.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  gap: var(--space-medium);
}

@media only screen and (min-width:768px) {
  .flex {
    gap: var(--space-xsmall)
  }
}

@media only screen and (min-width:960px) {
  .flex {
    flex-direction: row;
  }
}


.flex__item {
  flex-grow: 1;
}

.flex__item--6 {
  flex-basis: calc((100% / 1) - var(--space-xsmall));
}

@media only screen and (min-width:550px) {
  .flex__item--6 {
    flex-basis: calc((100% / 2) - var(--space-xsmall));
  }
}

@media only screen and (min-width:768px) {
  .flex__item--6 {
    flex-basis: calc((100% / 3) - var(--space-xsmall));
  }
}

@media only screen and (min-width:1024px) {
  .flex__item--6 {
    flex-basis: calc((100% / 4) - var(--space-xsmall));
  }
}

@media only screen and (min-width:1200px) {
  .flex__item--6 {
    flex-basis: calc((100% / 6) - var(--space-xsmall));
  }
}

.flex-2 {
  flex-basis: calc((100% * 2 / 3) - var(--space-xsmall));
}
.flex-1 {
  flex-basis: calc((100% / 3) - var(--space-xsmall));
}


.flex-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xsmall);
}

@media only screen and (min-width:550px) {
  .flex-footer {
    flex-direction: row;
  }
}