/* ---------------- */
/* footer / components */
/* ---------------- */

.footer {
  background-color: var(--clr-bgSec);
  color: white;
}

.footer__nav--link {
  color: var(--clr-bg);
}

.footer__nav--link:hover {
  color: var(--clr-link);
}


.footer__nav {
  text-align: center;

}

@media only screen and (min-width:550px) {
  .footer__nav {
    display: flex;
    justify-content: space-between;
  }

  .footer__nav--item {
    margin-left: 15px;
  }
}



.footer-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.footer__logo {
  max-width: 130px;
  object-fit: contain;
}
