
footer {
  background-color: var(--clr-bgSec);
  color: white;
  /* margin-top: var(--marg-resp-m); */

}

footer a {
  color: var(--clr-bg);
}

footer a:hover {
  color: var(--clr-link);
}


.footer-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.footer__logo {
  width: var(--marg-resp-m);
  object-fit: contain;
}

/* footer > div {
  padding: var(--rythm-s) var(--rythm-l);
} */
