/* ---------------- */
/* grid / components */
/* ---------------- */

/* .grid {
    display: grid;
    margin-top: 30px;
} */

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: max(5px, 1vw);
    grid-auto-rows: minmax(100px, auto);
    
}

.grid__item {
    padding: 50px;
    color: var(--clr-bg);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 600px;
}


.grid--2,
.grid--3,
.grid--4,
.grid--6 {
    grid-gap: 30px;
    grid-template-columns: repeat(1, 1fr);
}

@media only screen and (min-width:550px) {
    .grid--2,
    .grid--3,
    .grid--4,
    .grid--6 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width:768px) {
    .grid--3,
    .grid--4,
    .grid--6 {
        grid-gap: 2.5vw;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width:1024px) {
    .grid--4 {
        grid-gap: 1.75vw;
        grid-template-columns: repeat(4, 1fr);
    }

    .grid--6 {
        grid-gap: 1.25vw;
        grid-template-columns: repeat(6, 1fr);
    }
}
