/* ---------------- */
/* hero / components */
/* ---------------- */

.hero {
    background-image: url(../../img/header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0 auto;
    color: var(--clr-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero__text {
    padding-bottom: 10em;
}

.hero-sub {
    background-image: url(../../img/valJalbert2.jpg);
    background-position: 10% 62%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    margin-top: 100px;
    color: var(--clr-bg);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.hero-sub__text {
    padding-bottom: 3em;
}