/* ---------------- */
/* variables / settings */
/* ---------------- */

:root {
    /*rythmes*/
    /* Rythme de base (gouttière normale) */
    --rythm-s: 1.65rem;
    --rythm-s-neg: -1.65rem;
    /* Rythme élargi (gouttière large) */
    --rythm-m: 2.5rem;
    --rythm-m-neg: -2.5rem;
    /* Rythme espacé */
    --rythm-l: 5rem;
    --rythm-l-neg: -5rem;
    /* Rythme trés espacé */
    --rythm-xl: 10rem;
    /* Rythme marges adaptives */
    --marg-resp-s: calc(var(--rythm-m) + 2.2vw);
    --marg-resp-m: calc(var(--rythm-l) + 2.5vw);
    --marg-resp-s-neg: calc(var(--rythm-m-neg) - 2.2vw);
    --marg-resp-m-neg: calc(var(--rythm-l-neg) - 2.5vw);

    /*Palette de couleurs */
    --clr-contain: #5D707F;
    --clr-containSec: #6D8A96;
    --clr-link: #78BC61;
    --clr-bg: #ffffff;
    --clr-bgSec: #0c0c0c;

    /*polices */
    --ff-title: 'Rubik', sans-serif;
    --ff-txt: 'Nunito Sans', sans-serif;

    /*spacing*/
    --space-base: 5px;
    --space-xsmall: calc(var(--space-base) * 3);
    --space-small: calc(var(--space-base) * 4);
    --space-medium: calc(var(--space-base) *6);
    --space-large: calc(var(--space-base) * 12);
    --space-xlarge: calc(var(--space-base) * 24);

    /*font-size*/
    --font-size-default: 16px;

  }

  @media only screen and (min-width: 768px) {
    :root {
      --space-base: 1vw;
      --font-size-default: 2vw;
    }
  }

  @media only screen and (min-width: 1024px) {
    :root {
      --font-size-default: 1.75vw;
    }
  }
  @media only screen and (min-width: 1200px) {
    :root {
      --font-size-default: 1.5vw;
    }
  }
  
  @media only screen and (min-width: 1600px) {
    :root {
      --space-base: .8vw;
      --font-size-default: 1.25vw;
    }
  }

 
