/* ---------------- */
/* link / elements */
/* ---------------- */

a,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
}



a:hover {
  text-decoration: underline;
}

a:active {
  opacity: 80%;
}



