/* ---------------- */
/* text / elements */
/* ---------------- */


p,
a,
form * {
  line-height: var(--rythm-s);
  font-size: calc(14px + 0.2vw);
  font-family: var(--ff-txt);

}



/* things to correct */

.container {
    justify-content: center;
    text-align: center;
  }
.container img {
z-index: -1;
max-height: 600px;
}  

.centered {
    position: absolute;
    padding: 1rem;
    top: 15%;
    z-index: -1;
  }
  .centered h1 {
    margin-bottom: 1rem;
    font-size: calc(1rem + 1.5vw);
  }
  .centered p {
    font-size: calc(1rem + 0.5vw);
    line-height: calc(1.1rem + 0.5vw);
  }
  
  .contact h3, .contact p {
    color: var(--clr-bg);
  }
  section h3, section p {
    color: var(--clr-bgSec);
  }
  
  