/* ---------------- */
/* text / elements */
/* ---------------- */


p,
a,
form * {
  font-size: calc(14px + 0.2vw);
  font-family: var(--ff-txt);
  line-height: var(--space-xsmall);
}

h1 {
  font-size: max(38px, calc(var(--font-size-default) * 2));
}

h2 {
  font-size: max(30px, calc(var(--font-size-default) * 1.6));
}

h3 {
  font-size: max(22px, calc(var(--font-size-default) * 1.2));
}

p {
  font-size: var(--font-size-default);
}
