/* ---------------- */
/* spacings / objects */
/* ---------------- */

.py-base {
  padding: var(--space-base) 0;
}

.py-xsmall {
    padding: var(--space-xsmall) 0;
  }
  
  .py-small {
    padding: var(--space-small) 0;
  }
  
  .py-medium {
    padding: var(--space-medium) 0;
  }
  
  .py-large {
    padding: var(--space-large) 0;
  }
  
  .py-xlarge {
    padding: var(--space-xlarge) 0;
  }
  


/*  padding bottom  */

.pb-base {
  padding-bottom: var(--space-base);
}

.pb-xsmall {
  padding-bottom: var(--space-xsmall);
}

.pb-small {
  padding-bottom: var(--space-small);
}

.pb-medium {
  padding-bottom: var(--space-medium);
}