/* ---------------- */
/* generic */
/* ---------------- */
:root {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: black;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
        margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: #07072b;
  color: white;
  text-shadow: none;
}

::selection {
  background-color: #07072b;
  color: white;
  text-shadow: none;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}


button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1;
  margin: 0;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

select {
  text-transform: none;
}

